<!DOCTYPE html>

<html>
    <head>
        <script src="/ext/jquery/jquery-1.10.2.min.js"></script>
        <script src="/ext/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="/ext/datatables/jquery.dataTables.min.js"></script>
        <link href="/ext/bootstrap/3.0.0/css/bootstrap.css" rel="stylesheet">
        <link href="/ext/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <script src = '/gramene.js'></script>
        <script src = '/widgets/kbwidget.js'></script>
        <script src = '/widgets/kbaseButtonControls.js'></script>
        <script src = '/widgets/kbaseBox.js'></script>
        <script src = '/widgets/kbasePrompt.js'></script>
        <script src = '/widgets/kbaseDeletePrompt.js'></script>
        <script src = '/widgets/kbaseErrorPrompt.js'></script>
        <script src = '/widgets/kbaseAccordion.js'></script>
        <script src = '/widgets/kbaseTabs.js'></script>
        <script src = '/widgets/kbaseTable.js'></script>
        <script src = '/widgets/kbaseDataBrowser.js'></script>
        <script src = '/widgets/kbaseFormBuilder.js'></script>

        <title>[% c.stash('page_title') OR "WareLab Pubs" %]</title>
    </head>

    <style>
        body { padding-top: 70px; }
    </style>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src = '/img/ware_logo.png' height = '30'></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
           <p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">username</a></p>
          </div><!-- /.navbar-collapse -->
        </nav>

        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Navigation</li>
                  <li><a href="[% c.url_for('/') %]">Home</a></li>
                    <li><a href="[% c.crud_url('pub', {action => 'list', format => 'html'}) %]">Pubs</a></li>
                    <li><a href="[% c.crud_url('agency', {action => 'list', format => 'html'}) %]">Agencies</a></li>
                    <li><a href="[% c.crud_url('funding', {action => 'list', format => 'html'}) %]">Funds</a></li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
            <div class="col-md-10">
              <span class="message">[% status_msg %]</span>
              <span class="error">[% error_msg %]</span>
              [% content %]
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12 text-center">&copy; Ware Lab CSHL 2013</span>
        </div>
    </body>
</html>
