[% IF agencies.count > 0 %]
  <div style="text-align:center" class="well">
    Found [% agencies.count %] agenc[% IF agencies.count == 1; 'y'; ELSE; 'ies'; END %].
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Agency</th>
      <th>URL Template</th>
    </tr>
    </thead>
    <tbody>
    [% WHILE ( agency = agencies.next ) %]
      <tr>
        <td><a href="[% c.uri_for('/agency/edit_form', agency.agency_id ) %]">[% agency.agency_name %]</a></td>
        <td>[% agency.url_template OR 'NA' %]</td>
      </tr>
    [% END %]
    </tbody>
  </table>
[% ELSE %]
  No agencies.
[% END %]
