[% title = 'Agencies' %]

<script>
  $(document).ready(function() {
    $('#filter-form').submit(function(e) {
        e.preventDefault();
        var url = "[% c.uri_for('/agency/list_service', { format => 'html' } ) %]&amp;filter=" +  $('#filter').val();
        $.get(url, function(html) {
            $('#agencies').html(html);
        });
    });

    $('#filter').keyup(function(event) { $('#filter-form').submit() });
    $('#filter').focus();
    $('#filter-form').submit();
  });
</script>

[% PROCESS 'filter-form.tmpl' %]

<div id="agencies">
  <div style="text-align:center" class="well">
  Retrieving agencies...<br/>
  <img src="/static/images/loading.gif">
  </div>
</div>

