[% title = 'Agencies (' _ (agencies.size OR '0') _ ')' %]

<h1>[% title %]</h1>

<a href="[% c.uri_for('/agency/create_form') %]">Create Agency</a>
<hr>

<table>
  <tr>
    <th>Agency</th>
    <th>URL Template</th>
  </tr>
  [% FOREACH agency IN agencies %]
    <tr>
      <td><a href="[% c.uri_for('/agency/view', agency.agency_id ) %]">[% agency.agency_name %]</a></td>
      <td>[% agency.url_template OR 'NA' %]</td>
    </tr>
  [% END %]
</table>
