[% title = 'View Agency &quot;' _ (agency.agency_name OR 'unknown') _ '&quot;' %]

<h1>[% title %]</h1>
<a href="[% c.uri_for('/agency/edit_form', agency.id ) %]">Edit</a>
<table class="table table-bordered">
  <tr>
    <th align="right">Agency Name:</th>
    <td>[% agency.agency_name %]</td>
  </tr>
  <tr>
    <th align="right">URL Template:</th>
    <td>[% agency.url_template %]</td>
  </tr>
</table>

<h2>Funds ([% fundings.size OR '0' %])</h2>
[% IF agency.fundings.size > 0 %]
  [% PROCESS 'fundings.tmpl' fundings=agency.fundings %]
[% ELSE %]
  No fundings.
[% END %]
