<div class="row-fluid">
  <div id="title" class="span4">
    <h1>[% title %]</h1>
  </div>
  <div class="span8 text-right">
    <div class="form-group">
      <form id="filter-form" class="form-search" role="form">
          <input type="text" class="search-query" name="filter" id="filter" value="[% c.request.param('filter') %]">
          <button type="submit" class="btn btn-default" onclick="document.getElementById('filter').value = ''">Clear</button>
      </form>
    </div>
  </div>
</div>
