<script>
  $(document).ready(function() {
    $('#filter-form').submit(function(e) {
        e.preventDefault();
        var url = "[% c.uri_for('/funding/list_service', { format => 'html' } ) %]&filter=" +  $('#filter').val() + '&agency_id=' + $('#agency_id').val();
        $.get(url, function(html) {
            $('#fundings').html(html);
        });
    });

    $('#filter').keyup( function(event) { $('#filter-form').submit() });
    $('#filter').focus();
    $('#filter-form').submit();
  });
</script>

[% PROCESS 'filter-form.tmpl' %]

<div id="fundings">
  <div style="text-align:center" class="well">
  Retrieving funds...<br/>
  <img src="/static/images/loading.gif">
  </div>
</div>
