[% title = 'Edit Funding' %]

<h1>[% title %]</h1>
<hr>
<form method="post" action="[% c.uri_for('/funding/update') %]">
<table class="table table-bordered">
  <tr>
    <th valign="top" align="right">Agency:</th>
    <td>
      <select name="agency_id">
        <option value="0">--select agency--</option>
        [% FOREACH agency IN agencies %]
        <option value="[% agency.id %]"[% IF funding.agency_id == agency.id; ' selected'; END %]>[% agency.agency_name %]</option>
        [% END %]
      </select>
    </td>
  </tr>
  <tr>
    <th valign="top" align="right">Award Number:</th>
    <td>
      <input class="input-xlarge" type="text" name="award_number" value="[% funding.award_number %]" size="60">
    </td>
  </tr>
  <tr>
    <th valign="top" align="right">Title:</th>
    <td><textarea class="span4" name="title" row="10" cols="70">[% funding.title %]</textarea></td>
  </tr>
  <tr>
    <th valign="top" align="right">Abstract:</th>
    <td><textarea class="span4" name="abstract" row="10" cols="70">[% funding.abstract %]</textarea></td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="text-center">
      <input type="hidden" name="funding_id" value="[% funding.id %]">
      <button type="reset" class="btn">Cancel</button>
      <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </td>
  </tr>
</table>
</form>
