<script>
  function confirm_delete(funding_id) {
    var url = "[% c.uri_for('/funding/delete') %]/" + funding_id;
    if ( confirm('OK to delete? ' + url) ) {
      $.post("[% c.uri_for('/funding/delete') %]/" + funding_id);
      location.reload();
    }
  }
</script>

<h1>Fundings ([% fundings.count OR '0' %])</h1>

<a href="[% c.uri_for('/funding/create_form', { agency_id => c.req.param('agency_id') }) %]">Create Fund</a><br/>

  <form>
    <select id="agency_id" name="agency_id" onchange="javascript:$('#filter-form').submit()">
      <option value="0">--restrict by agency--</option>
      [% FOREACH agency IN agencies %]
      <option value="[% agency.id %]"[% IF c.req.param('agency_id') == agency.id; ' selected'; END %]>[% agency.agency_name %]</option>
      [% END %]
    </select>
  </form>

[% IF fundings.count > 0 %]
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Agency</th>
      <th>Award Title</th>
      <th>Award Number</th>
      <th>Abstract</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    [% WHILE ( funding = fundings.next ) %]
      <tr>
        <td><a href="[% c.uri_for('/agency/view', funding.agency_id) %]">[% funding.agency.agency_name %]</a></td>
        <td><a href="[% c.uri_for('/funding/view', funding.funding_id) %]">[% funding.title OR 'NA' %]</a></td>
        <td>[% funding.award_number OR 'NA' %]</td>
        <td>[% funding.abstract | truncate(40) %]</td>
        <td>
        <div class="text-center">
          <a class="btn" href="[% c.uri_for('/funding/edit_form', funding.id) %]">Edit</a>
          <button class="btn" id="delete-funding" onclick="javascript:confirm_delete('[% funding.id %]')">Delete</a>
        </div>
      
        </td>
      </tr>
    [% END %]
    </tbody>
  </table>
[% ELSE %]
  <div class="well text-center">
  No funding.
  </div>
[% END %]
