[% title = 'Ware Lab Publications Admin' %]

<h1>[% title %]</h1>

You can:
<ul>
  <li><a href="[% c.uri_for('/pub/list') %]">List Pubs</a></li>
  <li><a href="[% c.uri_for('/agency/list') %]">List Agencies</a></li>
  <li><a href="[% c.uri_for('/funding/list') %]">List Fundings</a></li>
</ul>
