[% 
short_title = pub.title | truncate(30);
title = 'Edit Pub &quot;' _ short_title _ '&quot;' 
%]

<div class="span12">
<h1>[% title %]</h1>
<form method="post" action="[% c.uri_for('/pub/update') %]">
<table border=0>
  <tr>
    <th valign="top" align="right">Title:</th>
    <td><textarea name="title" rows="5" cols="80">[% pub.title %]</textarea></td>
  </tr>
  <tr>
    <th align="right">Funding:</th>
    <td>
      [% IF fundings.count > 0 %]
        <select name="agency_id">
          [% WHILE ( funding = fundings.next ) %]
          <option value="[% funding.id %]"[% IF pub.funding_id == funding.id; ' selected'; END %]>[% funding.agency.agency_name %]: [% funding.title %][% IF funding.award_number %] ([% funding.award_number %])[% END %]</option>
          [% END %]
        </input>
      [% ELSE %]
        No funding.
      [% END %]
    </td>
  </tr>
  <tr>
    <th align="right">Journal:</th>
    <td><input name="journal" type="text" value="[% pub.journal %]" size="80"></td>
  </tr>
  <tr>
    <th align="right">Year:</th>
    <td><input name="year" type="text" value="[% pub.year %]" size="80"></td>
  </tr>
  <tr>
    <th align="right">Authors:</th>
    <td><input name="authors" type="text" value="[% pub.authors %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">PubMed ID:</th>
    <td><input name="pubmed" type="text" value="[% pub.pubmed %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">URL:</th>
    <td><input name="url" type="text" value="[% pub.url %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">Data:</th>
    <td><input name="data" type="text" value="[% pub.data %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">Cover:</th>
    <td><input name="cover" type="text" value="[% pub.cover %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">PDF:</th>
    <td><input name="pdf" type="text" value="[% pub.pdf %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">Info 115:</th>
    <td><input name="info_115" type="text" value="[% pub.info_115 %]" size="60"></td>
  </tr>
  <tr>
    <td align="center" colspan="2">
      <input type="hidden" name="pub_id" value="[% pub.id %]">
      <input type="submit" value="Update">
    </td>
  </tr>
</table>
</form>
</div>
