[%-
  title      = 'Publications';
  order_by   = c.request.param('order_by')   OR 'title';
  sort_order = c.request.param('sort_order') OR 'desc';
  PROCESS 'macros.tmpl';
-%]

<script>
  $(document).ready(function() {
    $('#filter-form').submit( function(event) {
//      var url = "[% c.uri_for('/pub/list_service', { format => 'html' } ) %]&amp;filter=" +  $('#filter').val();

      alert($('#filter').val());

//      $.get( url, function(html) { $('#pubs').html(html) });
//    );

 //   $('#filter').keyup(function(event) { $('#filter-form').submit() });
  });
</script>

<h1>[% title %]</h1>

<div class="row-fluid">
  <div class="span4">
    <a href="[% c.uri_for('/pub/create_form') %]">Create Pub</a>
  </div>
  
  <div class="span8 text-right">
    <div class="form-group">
      <form id="filter-form" class="form-inline" role="form"> <!-- action="[% c.uri_for('/pub/list') %]"-->
          <input type="text" class="form-control" name="filter" id="filter" value="[% c.request.param('filter') %]">
          <button type="submit" class="btn btn-default">Filter</button>
          <button type="submit" class="btn btn-default" onclick="document.getElementById('filter').value = '';document.getElementById('filter-form').submit();">Clear</button>
      </form>
    </div>
  </div>
</div>

<div id="pubs">
  <div style="text-align:center" class="well">
  Retrieving pubs...<br/>
  <img src="/static/images/loading.gif">
  </div>
</div>
