<script>
$(document).ready( function () {
  $('#create-form').submit(function(e) {
      var req = {};
      [ 'year', 'title', 'authors', 'journal' ].forEach( function (v) {
        req[v] = 1;
      });

      var missing = [];
      $(":input").each(function(e, f) {
        if ( f.name && req[f.name] && !f.value ) {
          missing.push( f.name ); 
        }
      });

      if ( missing.length ) {
        alert('Missing the following fields: ' + missing.join(', '));
        return false;
      }
  });
});
</script>

[% title = 'Create Publication' %]
<h1>[% title %]</h1>

<form id="create-form" method="post" action="[% c.uri_for('/pub/create') %]" enctype="multipart/form-data">
<table class="table">
  <tr>
    <th align="right">Year:</th>
    <td><input name="year"></td>
  </tr>
  <tr>
    <th align="right">Title:</th>
    <td>
      <textarea name="title" rows="4" class="span6"></textarea>
    </td>
  </tr>
  <tr>
    <th align="right">Authors:</th>
    <td>
      <textarea name="authors" rows="4" class="span6"></textarea>
    </td>
  </tr>
  <tr>
    <th align="right">Journal:</th>
    <td><input name="journal" class="input-xlarge"></td>
  </tr>
  <tr>
    <th align="right">PubMed ID:</th>
    <td><input name="pubmed"></td>
  </tr>
  <tr>
    <th align="right">URL:</th>
    <td><input name="url"></td>
  </tr>
  <tr>
    <th align="right">Data:</th>
    <td><input name="data_path"></td>
  </tr>
  <tr>
    <th align="right">Comments:</th>
    <td><input name="comments"></td>
  </tr>
  <tr>
    <th align="right">PDF:</th>
    <td>
      <input name="pdf" type="file">
    </td>
  </tr>
  <tr>
    <th align="right">Cover Art:</th>
    <td>
      <input name="cover" type="file">
    </td>
  </tr>
  <tr>
    <th align="right">115:</th>
    <td>
      <input name="doc_115" type="file">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="text-center">
      <input type="submit" value="Create" class="btn btn-primary">
      </div>
    </td>
  </tr>
</table>
</form>
