[% 
short_title = pub.title | truncate(30);
title = 'Edit Pub &quot;' _ short_title _ '&quot;' 
%]

<script>
function update_funding_select() {
//  alert('hey');
}

$(document).ready( function() {
//  update_funding_select();
});
</script>

<div class="span12">
<h1>[% title %]</h1>
<form method="post" action="[% c.uri_for('/pub/update') %]" enctype="multipart/form-data">
<table border=0>
  <tr>
    <th valign="top" align="right">Title:</th>
    <td><textarea class="span8" name="title" rows="5" cols="80">[% pub.title %]</textarea></td>
  </tr>
  <tr>
    <th valign="top" align="right">Funding:</th>
    <td>
      [% IF agencies.count > 0 %]
        <select name="agency_id"> <!-- onchange="update_funding_select()" -->
          [% WHILE ( agency = agencies.next ) %]
          <option value="[% agency.id %]"[% IF pub.funding.agency_id == agency.id; ' selected'; END %]>[% agency.agency_name %]</option>
          [% END %]
        </select>
      [% ELSE %]
        No agencies.
      [% END %]

      <div id="funding_select"></div>
      [% IF fundings.count > 0 %]
        <select name="funding_id">
          [% WHILE ( funding = fundings.next ) %]
          <option value="[% funding.id %]"[% IF pub.funding_id == funding.id; ' selected'; END %]>[% funding.title %][% IF funding.award_number %] ([% funding.award_number %])[% END %]</option>
          [% END %]
        </select>
      [% ELSE %]
        No funding.
      [% END %]
    </td>
  </tr>
  <tr>
    <th align="right">Journal:</th>
    <td><input name="journal" type="text" value="[% pub.journal %]" size="80"></td>
  </tr>
  <tr>
    <th align="right">Year:</th>
    <td><input name="year" type="text" value="[% pub.year %]" size="80"></td>
  </tr>
  <tr>
    <th align="right">Authors:</th>
    <td><input name="authors" type="text" value="[% pub.authors %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">PubMed ID:</th>
    <td><input name="pubmed" type="text" value="[% pub.pubmed %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">URL:</th>
    <td><input name="url" type="text" value="[% pub.url %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">Data:</th>
    <td><input name="data_path" type="text" value="[% pub.data_path %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">Cover:</th>
    <td><input name="cover" type="text" value="[% pub.cover %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">PDF:</th>
    <td><input name="pdf" type="text" value="[% pub.pdf %]" size="60"></td>
  </tr>
  <tr>
    <th align="right">Comments:</th>
    <td>
      <input name="comments" type="text" value="[% pub.comments %]" size="60">
    </td>
  </tr>
  <tr>
    <th align="right">115:</th>
    <td>
      <input name="doc_115" type="file">
    </td>
  </tr>
  <tr>
    <td align="center" colspan="2">
      <input type="hidden" name="pub_id" value="[% pub.id %]">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="reset" class="btn">Reset</button>
    </td>
  </tr>
</table>
</form>
</div>

  <tr>
    <th align="right">Agency:</th>
    <td>
      <select name="agency_id" onchange="alert(document.getElementById('agency_id'))">
        <option value="0">--select agency--</option>
        [% FOREACH agency IN agencies %]
        <option value="[% agency.id %]">[% agency.agency_name %]</option>
        [% END %]
      </select>
    </td>
  </tr>
  <tr>
    <th align="right">Funding:</th>
    <td><div id="funding">--select agency--</div></td>
  </tr>
