[%-
  title      = 'Publications';
  order_by   = c.request.param('order_by')   OR 'title';
  sort_order = c.request.param('sort_order') OR 'desc';
  PROCESS 'macros.tmpl';
-%]

<script>
  $(document).ready(function() {
    $('#filter-form').submit(function(e) {
        e.preventDefault();
        var url = "[% c.uri_for('/pub/list_service', { format => 'html' } ) %]&amp;filter=" +  $('#filter').val();
        $.get(url, function(html) {
            $('#pubs').html(html);
        });
    });

    $('#filter').keyup(function(event) { $('#filter-form').submit() });
    $('#filter').focus();
    $('#filter-form').submit();
  });
</script>

[% PROCESS 'filter-form.tmpl' %]

<div id="pubs">
  <div style="text-align:center" class="well">
  Retrieving pubs...<br/>
  <img src="/static/images/loading.gif">
  </div>
</div>
