<h1>Publications</h1>

<a href="[% c.uri_for('/pub/create_form') %]">Create Pub</a>

<hr>

<table>
  <tr>
    <th>Agency</th>
    <th>Funding</th>
    <th>Title</th>
    <th>Year</th>
    <th>Journal</th>
    <th>Authors</th>
    <th>115 Info</th>
  </tr>
  [% FOREACH pub IN pubs %]
    <tr>
      <td><a href="[% c.uri_for('/agency/view', pub.funding.agency.id) %]">[% pub.funding.agency.agency_name %]</a></td>
      <td><a href="[% c.uri_for('/funding/view', pub.funding.id) %]">[% pub.funding.title %] ([% pub.funding.award_number %])</a></td>
      <td><a href="[% c.uri_for('/pub/view', pub.id) %]">[% pub.title | truncate(40) %]</a></td>
      <td>[% pub.year %]</td>
      <td>[% pub.journal %]</td>
      <td>[% pub.authors %]</td>
      <td>[% pub.info_115 %]</td>
    </tr>
  [% END %]
</table>
